#terminal {
  font-family: "courier new", Futura, Helvetica, "游ゴシック", "メイリオ", Osaka;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  resize: none;
  background-color: black;
  color: white;
  font-size: 12pt;
  line-height: 1.4em;
  outline: none;
}
